{% extends 'base.html.twig' %}

{% block title %}Détails de l'Utilisateur{% endblock %}

{% block body %}
    <div class="content container-fluid" style="margin-left: 200px;>
        <div class="page-header">
            <h3 class="page-title">Détails de l'Utilisateur</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5>Informations sur l'utilisateur :</h5>
                        <!-- Afficher les détails de l'utilisateur ici -->
                        <p><strong>Nom d'utilisateur:</strong> {{ user.username }}</p>
                        <p><strong>Nom:</strong> {{ user.nom }}</p>
                        <p><strong>Prénom:</strong> {{ user.prenom }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Âge:</strong> {{ user.age }}</p>

                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>

                        <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this user?')">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
